<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Embedded Copient Health Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>
  </head>
  <body class="text-dark">
    <header class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between px-2">
      <span class="navbar-brand">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" height="40">
          <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path fill="#FFFFFF" d="M192 48C192 21.49 213.5 0 240 0H400C426.5 0 448 21.49 448 48V512H368V432C368 405.5 346.5 384 320 384C293.5 384 272 405.5 272 432V512H192V48zM312 64C303.2 64 296 71.16 296 80V104H272C263.2 104 256 111.2 256 120V136C256 144.8 263.2 152 272 152H296V176C296 184.8 303.2 192 312 192H328C336.8 192 344 184.8 344 176V152H368C376.8 152 384 144.8 384 136V120C384 111.2 376.8 104 368 104H344V80C344 71.16 336.8 64 328 64H312zM160 96V512H48C21.49 512 0 490.5 0 464V320H80C88.84 320 96 312.8 96 304C96 295.2 88.84 288 80 288H0V224H80C88.84 224 96 216.8 96 208C96 199.2 88.84 192 80 192H0V144C0 117.5 21.49 96 48 96H160zM592 96C618.5 96 640 117.5 640 144V192H560C551.2 192 544 199.2 544 208C544 216.8 551.2 224 560 224H640V288H560C551.2 288 544 295.2 544 304C544 312.8 551.2 320 560 320H640V464C640 490.5 618.5 512 592 512H480V96H592z"/>
        </svg>
        Health System Inc.
      </span>
      <span class="navbar-text">
        Hyatt
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="20">
          <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
          <path fill="#FFFFFF" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"/>
        </svg>
      </span>
    </header>
    <div class="container-fluid">
      <div class="row mt-3 flex-xl-nowrap justify-content-center">
        <% if page_view == 'initial' %>
          <div class="col-12 col-md-9 col-xl-6">
            <div class="row">
              <p>Select a surgeon to view available times for scheduling</p>
              <form method="post">
                <div class="mb-1">
                  <label for="physician">Surgeon</label>
                  <select name="physician" class="form-control" required>
                    <option value="">---</option>
                    <% known_surgeons.each do |(display_name, provider_id)| %>
                      <option value="<%= provider_id %>"><%= display_name %></option>
                    <% end %>
                  </select>
                </div>
                <div class="mb-1">
                  <label for="duration">(Optional) Case Duration</label>
                  <div class="input-group">
                    <input name="duration" type="number" class="form-control">
                    <span class="input-group-text">minutes</span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        <% elsif page_view == 'scheduling' %>
          <div id="time-selection" class="col-12 col-md-9 text-center">
            <div class="row">
              <p>Select a slot from the calendar below to hold your time and begin scheduling</p>
            </div>
            <div class="row">
              <iframe src="<%= calendar_url %>"
                      class="col-12"
                      style="height: 975px;">
              </iframe>
            </div>
          </div>
          <div id="surgery-details" class="col-12 col-md-9 col-xl-6" style='display: none;'>
            <form method="post" id="surgery-form">
              <div class="row">
                <h4>Scheduling Details</h4>
              </div>
              <div class="row">
                <% if selected_surgeon %>
                  <div class="mb-1">
                    <label for="physician">Surgeon</label>
                    <select name="physician" class="form-control" disabled>
                      <option value="<%= selected_surgeon['provider_id'] %>" selected>
                        <%= selected_surgeon.values_at('first_name', 'last_name').join(' ') %>
                      </option>
                    </select>
                  </div>
                <% end %>
                <div class="mb-1">
                  <label for="date">Date</label>
                  <input name="date" type="date" class="form-control" disabled>
                </div>
                <div class="mb-1">
                  <label for="start_time">Start Time</label>
                  <input name="start_time" type="time" class="form-control" disabled>
                </div>
                <div class="mb-1">
                  <label for="start_time">End Time</label>
                  <input name="end_time" type="time" class="form-control" disabled>
                </div>
              </div>
              <div class="row mt-3">
                <h4>Clinical Details</h4>
              </div>
              <div class="row">
                <div class="mb-1">
                  <label for="procedure_codes">Procedures</label>
                  <select name="procedure_codes" class="slim-select" multiple>
                    <% CPT_LIST.each do |cpt_row| %>
                      <option value="<%= cpt_row['code'] %>"><%= cpt_row['description'] %></option>
                    <% end %>
                  </select>
                </div>
                <div class="mb-1">
                  <label for="equipment_codes">Required Equipment</label>
                  <select name="equipment_codes" class="slim-select" multiple>
                    <% HCPC_LIST.each do |hcpc_row| %>
                      <option value="<%= hcpc_row['code'] %>"><%= hcpc_row['description'] %></option>
                    <% end %>
                  </select>
                </div>
                <div class="mb-1">
                  <label for="consent_form" class="form-label">Patient Consent Form</label>
                  <input class="form-control" type="file" id="consent_form">
                </div>
                <input type="hidden" value="true" name="completed">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        <% elsif page_view == 'complete' %>
          <div class="col-12 col-md-9 col-xl-6 text-center">
            <div class="row">
              <h4>Thank You</h4>
            </div>
            <div class="row">
              <p>Your case has been scheduled. You can safely close this window. To start over and add another case, please click below.</p>
            </div>
            <div class="row">
              <a class="btn btn-primary" href='/'>Add Another Case</a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.addEventListener('message', function(e) {
        document.getElementById('time-selection').style.display = 'none';
        document.getElementById('surgery-details').style.display = '';

        const surgeryForm = document.getElementById('surgery-form');
        surgeryForm.querySelector('[name="date"]').value = e.data.date;
        surgeryForm.querySelector('[name="start_time"]').value = e.data.start_time;
        surgeryForm.querySelector('[name="end_time"]').value = e.data.end_time;
      })
    </script>
    <script type="text/javascript">
      document.querySelectorAll('.slim-select').forEach(selectElement => {
        new SlimSelect({
          select: selectElement
        })
      })
    </script>
  </body>
</html>

